@model IEnumerable<BadmintonSoftware.Data.Player>

@{
    ViewData["Title"] = "Players";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Players</h2>

    <p class="text-right">
        <a asp-action="Create" class="btn btn-primary">Create New Player</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Total Wins</th>
                    <th>Club</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => player.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => player.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => player.Age)</td>
                        <td>@Html.DisplayFor(modelItem => player.TotalWins)</td>
                        <td>@Html.DisplayFor(modelItem => player.Club.ClubName)</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@player.PlayerId" class="btn btn-info">Details</a>
                            <a asp-action="Edit" asp-route-id="@player.PlayerId" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@player.PlayerId" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this player?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>